<div
  class="fixed w-[100%] bg-transparent flex justify-between items-center p-2 z-10 top-0 left-0 py-4 px-10
  font-bebasneue text-secondary text-4xl"
>
  <div>
    <div class="mx-auto mb-0 relative z-10 outline-none">
      <app-menu-option text="MR" link="/home"></app-menu-option>
    </div>
  </div>
  <div class="flex gap-2 items-center">
    <app-menu-option text="About" link="/about"></app-menu-option>
    <app-menu-option text="Projects" link="/about"></app-menu-option>
    <app-menu-option text="Contact" link="/about"></app-menu-option>
  </div>
</div>
