<div
  class="absolute left-0 w-full group font-bebasneue"
  [style.bottom]="bottomPosition"
>
  <div class="relative flex w-full">
    <div
      class="inline-block animate-[scrollLeft_30s_linear_infinite] group-hover:[animation-play-state:paused]"
    >
      <h1
        class="relative flex items-center text-secondary text-[10.5vw] whitespace-nowrap cursor-default"
      >
        {{ title }}
      </h1>
    </div>
    <div
      class="inline-block animate-[scrollLeft_30s_linear_infinite] left-full top-0 group-hover:[animation-play-state:paused]"
    >
      <h1
        class="relative flex items-center text-secondary text-[10.5vw] whitespace-nowrap cursor-default"
      >
        {{ title }}
      </h1>
    </div>
  </div>
</div>
