<section
  class="w-full bg-secondary flex flex-col items-center justify-center text-fifth py-6"
>
  <div
    class="w-[80%] flex flex-col relative items-center justify-center space-y-6 mb-6"
  >
    <div class="pr-2 font-bebasneue">
      <span class="text-7xl font-bold">Recent Projects</span>
    </div>
    <div class="pl-2 text-center">
      <p class="text-4xl font-bebasneue">
        A collection of my most recent projects
      </p>
    </div>
  </div>
  <div class="w-[80%] grid grid-cols-2 relative items-center justify-center">
    <div class="col-span-1 flex-col pl-2 space-y-3 text-center my-2">
      <span class="text-4xl font-bold font-bebasneue">Impuls</span>
      <img class="px-5" src="/projects/Impuls.png" />
      <p>An entrepreunership directory using a microservices architecture</p>
      <div class="flex gap-4 flex-row items-center justify-center">
        <a target="_blank"
          class="relative inline-block overflow-hidden rounded-[2.5rem] border-[1px] py-[1.25rem] px-[2.5rem] font-bebasneue cursor-pointer border-fifth group"
          href="https://github.com/mariohramirez/Impuls"
        >
          <!-- Efecto líquido mejorado -->
          <div
            class="absolute inset-0 bg-primary transition-all duration-300 ease-[cubic-bezier(0.65,0,0.35,1)] origin-bottom transform -translate-y-full scale-y-0 group-hover:translate-y-0 group-hover:scale-y-100"
          ></div>
          <span
            class="relative z-10 text-fifth transition-colors duration-300 group-hover:text-secondary text-lg"
            >Github Repository</span
          >
        </a>
      </div>
    </div>
     <div class="col-span-1 flex-col pl-2 space-y-3 text-center my-2">
      <span class="text-4xl font-bold font-bebasneue">Eventu</span>
      <img class="px-5" src="https://raw.githubusercontent.com/mariohramirez/Eventu/4293b677d9659086f40c8baf33d59cc815d800c8/Modelos%20ER/SqlEventoMicroservicio.png" />
      <p>A platform for social events</p>
      <div class="flex gap-4 flex-row items-center justify-center">
        <a target="_blank"
          class="relative inline-block overflow-hidden rounded-[2.5rem] border-[1px] py-[1.25rem] px-[2.5rem] font-bebasneue cursor-pointer border-fifth group"
          href="https://github.com/mariohramirez/Eventu"
        >
          <!-- Efecto líquido mejorado -->
          <div
            class="absolute inset-0 bg-primary transition-all duration-300 ease-[cubic-bezier(0.65,0,0.35,1)] origin-bottom transform -translate-y-full scale-y-0 group-hover:translate-y-0 group-hover:scale-y-100"
          ></div>
          <span
            class="relative z-10 text-fifth transition-colors duration-300 group-hover:text-secondary text-lg"
            >Github Repository</span
          >
        </a>
      </div>
    </div>
     <div class="col-span-1 flex-col pl-2 space-y-3 text-center my-2">
      <span class="text-4xl font-bold font-bebasneue">Faculty Entrepreneurship</span>
      <img class="px-5" src="/projects/Faculty.png" />
      <p>An entrepreneurship directory for the faculty using a monolothic architecture</p>
      <div class="flex gap-4 flex-row items-center justify-center">
        <a target="_blank"
          class="relative inline-block overflow-hidden rounded-[2.5rem] border-[1px] py-[1.25rem] px-[2.5rem] font-bebasneue cursor-pointer border-fifth group"
          href="https://directorio-emprendimiento.vercel.app/"
        >
          <!-- Efecto líquido mejorado -->
          <div
            class="absolute inset-0 bg-primary transition-all duration-300 ease-[cubic-bezier(0.65,0,0.35,1)] origin-bottom transform -translate-y-full scale-y-0 group-hover:translate-y-0 group-hover:scale-y-100"
          ></div>
          <span
            class="relative z-10 text-fifth transition-colors duration-300 group-hover:text-secondary text-lg"
            >View Demo</span
          >
        </a>
        <a target="_blank"
          class="relative inline-block overflow-hidden rounded-[2.5rem] border-[1px] py-[1.25rem] px-[2.5rem] font-bebasneue cursor-pointer border-fifth group"
          href="https://github.com/mariohramirez/DirectorioEmprendimientoFrontEnd"
        >
          <!-- Efecto líquido mejorado -->
          <div
            class="absolute inset-0 bg-primary transition-all duration-300 ease-[cubic-bezier(0.65,0,0.35,1)] origin-bottom transform -translate-y-full scale-y-0 group-hover:translate-y-0 group-hover:scale-y-100"
          ></div>
          <span
            class="relative z-10 text-fifth transition-colors duration-300 group-hover:text-secondary text-lg"
            >Github Repository</span
          >
        </a>
      </div>
    </div>
  </div>
</section>
