<section class="h-screen w-full bg-secondary flex items-center justify-center">
  <div class="w-[80%] grid grid-cols-3 relative items-center justify-center">
    <div class="pr-2 text-fifth font-bebasneue">
      <span class="col-span-1 text-7xl font-bold">Introduction</span>
    </div>
    <div class="col-span-2 flex-col pl-2 space-y-6 text-justify">
      <p>
        I'm a passionate Fullstack Developer, with experience making projects
        using different architectures.
      </p>

      <p>
        My experience includes Spring Boot in the Backend, Angular and React in
        the Frontend, MySQL, PostgreSql and Oracle for databases and modern web
        technologies like Tailwind CSS.
      </p>
      <div class="flex gap-4 flex-row">
        <a
          class="relative inline-block overflow-hidden rounded-[2.5rem] border-[1px] py-[1.25rem] px-[2.5rem] font-bebasneue cursor-pointer border-fifth group"
          href="/about"
        >
          <!-- Efecto líquido mejorado -->
          <div
            class="absolute inset-0 bg-third transition-all duration-300 ease-[cubic-bezier(0.65,0,0.35,1)] origin-bottom transform -translate-y-full scale-y-0 group-hover:translate-y-0 group-hover:scale-y-100"
          ></div>
          <span
            class="relative z-10 text-fifth transition-colors duration-300 group-hover:text-secondary text-2xl"
            >More about me</span
          >
        </a>
        <a
          class="relative inline-block overflow-hidden rounded-[2.5rem] border-[1px] py-[1.25rem] px-[2.5rem] font-bebasneue cursor-pointer border-fifth group"
          href="/docs/Resume.pdf"
        >
          <!-- Efecto líquido mejorado -->
          <div
            class="absolute inset-0 bg-third transition-all duration-300 ease-[cubic-bezier(0.65,0,0.35,1)] origin-bottom transform -translate-y-full scale-y-0 group-hover:translate-y-0 group-hover:scale-y-100"
          ></div>
          <span
            class="relative z-10 text-fifth transition-colors duration-300 group-hover:text-secondary text-2xl"
            >Download resume</span
          >
        </a>
      </div>
    </div>
  </div>
</section>
