<header class="h-screen flex items-center relative bg-primary overflow-hidden">
  <div class="absolute inset-0 w-full h-full">
    <img
      class="w-auto h-full object-cover absolute left-[50%] -translate-x-[50%] align-middle max-w-full box-border"
      src="/hero/Fondo.png"
    />
    <app-bigname
      title="Fullstack Developer—Data Analyst—Fullstack Developer—Data Analyst—"
      [bottomPosition]="'50vh'"
    ></app-bigname>
    <img
      class="w-auto h-full object-cover absolute left-[50%] -translate-x-[50%] align-middle max-w-full box-border"
      src="/hero/Fondo2.png"
    />
  </div>
  <app-bigname [bottomPosition]="'0vh'"></app-bigname>
</header>
